{% extends 'freddit/base.html' %}
{% load static %}

{% block body_block %}
<div>
    <h1>Start a Thread</h1>
</div>
<div class="post">
    <form id="thread_form" method="post" action="/freddit/add_thread/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{hidden}}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{field.errors}}
            {{field.help_text}}
            {{field}}
        {% endfor %}
        <br>
        <input type="submit" name="Submit" value="Post" />
    </form>
</div>
{% endblock %}