<!DOCTYPE html>

{% load static %}
{% load freddit_extras %}

<html lang="en">
    <head>
        <title>Freddit</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    </head>

    <body>

        <div class="banner">
            <img src="{% static 'images/fred.jpg' %}" alt='Image of Fred'>
            <form action="/freddit">
                <input class= "banner_button" type="submit" value="Freddit - A Place Where You Can Ask Anything!" />
            </form>
            <form class="search_bar" method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <input class="search" type="search" placeholder="Search" aria-label="Search" name="searched">
                <button class='button1' type="submit">Search</button>
            </form>
        </div>

        <div class="sidebar">
            {% block side_bar %}
                {% get_thread_list %}
            {% endblock %}
        </div>

        <div class="content">
            {% block body_block %}
            {% endblock %}
        </div>
            

    </body>

    <footer>

    </footer>


    </html>