<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <title>Freddit</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    </head>

    <body>

        <div class="banner">
            <img src="{% static 'images/fred.jpg' %}" alt='Image of Fred'>
            <form action="/freddit">
                <input class= "banner_button" type="submit" value="Freddit - A Place Where You Can Ask Anything!" />
            </form>
        </div>

        <div class="sidebar">
            <h2>Popular Posts</h2>
                {% if threads %}
                    <ul>
                        {% for thread in threads %}
                            <li><a href="/freddit/thread/{{thread.slug}}">{{thread.topic}}</li></a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h4>There are no current Threads</h4>
                {% endif %}
        </div>

        <div class="content">
            {% block body_block %}

            {% endblock %}
        </div>
            

    </body>

    <footer>

    </footer>


    </html>