{% extends 'freddit/base.html' %}
{% load static %}

{% block body_block %}
    <div style="float: left;">
        <form action="/freddit/add_thread">
            <input class= "button1" type="submit" value="Post" />
        </form>
    </div>
    {% if user.is_authenticated %}
    <div style="float: right;">
        <form action="/freddit/logout_user">
            <input class= "button1" type="submit" value="Logout" />
        </form>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <h1>Hello {{user.username}}!</h1>
    </div>
    {% else %}
    <div style="float: right;">
        <form action="/freddit/login_user">
            <input class= "button1" type="submit" value="Login" />
        </form>
    </div>
    <div style="float: right;">
        <form action="/freddit/register_user">
            <input class= "button1" type="submit" value="Register" />
        </form>
    </div>
    {% endif %}
    <br/><br/><br/>
    <div>
        
    </div>
{% endblock %}