{% extends 'freddit/base.html' %}
{% load static %}


{% block body_block %}

    {% if form.errors %}
    <p style="background-color: rgb(255, 133, 85); padding: 10px; border-radius: 10px;">There was an error!</p>
    {% endif %}

    <h1>Register</h1>
    <br/><br/>
        <form action="{% url 'register_user' %}" method=POST style="color: white;">
            {% csrf_token %}
            {{form.as_p}}
            <br/>
            <input type="submit" value="Submit" class="button1">
        </form>
{% endblock %}